src/main/mule/cicd-jenkinspoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d48389ca-d894-442d-b405-ac9ca18084c8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkinspocFlow" doc:id="18e933b4-8b8a-4a53-a6f8-3301374135e4" >
		<http:listener doc:name="Listener" doc:id="4f1fd13f-409a-4224-bcbc-0137c551ab90" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="5cf17d17-1ade-4210-8860-f273bc15b242" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "pipeline created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ed91d371-1dbe-4c93-9354-13f27343eaa1" message="#[payload]"/>
	</flow>
</mule>
